<!DOCTYPE html>
<html>
<head>
   {{>head}}
<!--         <link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/bootstrap.css">-->
   <title>E-buy</title>
</head>
<body>
    
    {{>bsnavbar}}
    <br><br><br> <!-- Overide neeche wale ki property and give padding-->
    <div class="container">
    {{{body}}}
    </div>
    <script src="../../../vendor/bootstrap/bootstrap.js" type="text/javascript"></script>
</body>
</html>