<div class='page'>
    <div class="header">
        <div class="logo">
            <div class="jumbotron">
                <img class="jumbotron2" alt="Zero Type Logo" src="../img/lalitha/logo.png">
            </div></br></br>
            <div class="row1">
                <div class="col1 ">
                    <h1>
                        <div class="glyphicon glyphicon-heart" aria-hidden="true"></div>
                    </h1>
                    <div class="glyphicon-class">WHO WE ARE</div>
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class=" col1">
                    <h1>
                        <div class="glyphicon glyphicon-star-empty" aria-hidden="true"></div>
                    </h1>
                    <div class="glyphicon-class">CLIENTS</div>
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class="col1">
                    <h1>
                        <div class="glyphicon glyphicon-user" aria-hidden="true"></div>
                    </h1>
                    <div class="glyphicon-class">OUR TEAM</div>
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class="col1">
                    <h1>
                        <div class="glyphicon glyphicon-road" aria-hidden="true"></div>
                    </h1>
                    <div class="glyphicon-class">OUR MISSION</div>
                </div>
                <!--/.col-xs-6.col-lg-4-->
            </div></br></br>
            <div class="jumbotron1">
                <div class=" jumbo1">
                    <h1>Marketing stuff!</h1>
                </div>

                <div class=" jumbo1">
                    <h3><strong>We are Awesome Phonixee!</strong></h3>
                </div>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>

            </div></br></br>
            <div class="row2">
                <div class="col2">
                    <img alt="comcast" src="../img/lalitha/comcast.png">
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class=" col2">
                    <img alt="comcast" src="../img/lalitha/and1.png">
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class="col2">
                    <img alt="comcast" src="../img/lalitha/barnes.png">
                </div>
                <!--/.col-xs-6.col-lg-4-->
                <div class="col2">
                    <img alt="comcast" src="../img/lalitha/prever.jpg">
                </div>
                <!--/.col-xs-6.col-lg-4-->

            </div></br></br>
            <div class="jumbotron1">
                <strong><div class=" jumbo1"><h1>Our Team The Creator!</h1></div>

    					        <div class=" jumbo1"><h6>We are Awesome Phonixee!</h6></div>
    					        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p></strong>

            </div>
            <div class="jumbotron1">
                <STRONG><div class=" jumbo1"><h1>OUR MISSION!</h1></div></STRONG>
                <div class=" jumbo1">OUR MISSION IS TO IMPROVE THE LOCAL CONDITION AND THE OVERALL QUALITY OF OUR LIFE OF OUR ENVIRONMENT THROUGH......</div>
            </div>
        </div>
    </div>
</div>