<div class='page'>
    <section>
        <figure>
            <img src="../img/contactus/contact1.jpg" class="contactus">
        </figure>
    </section>
    <section class="container">

        <div class="gap"></div>

        <div class="leftdiv">
            <p class="discription">
                If you are interested in any of the services we provide call us, we would love to talk to you about the best way to solve your problem.
            </p>
            <div class="clear"></div>


            <div class="callusmain">
                <div>
                    <p class="callussub"><span>      Call Us</span></p>
                </div>
                <div class="phonenumb">
                    <p> +919876543210 | +919876543211</p>
                </div>
            </div>

            <div class="mailusmain">
                <div>
                    <p class="mailussub"><span>      Mail Us</span></p>
                </div>
                <div class="email">
                    <p> <a href="#"> eBuy@mail.com </a> | <a href="#"> contactebuy@mail.com</a> </p>
                </div>
            </div>


            <div class="addressmain">
                <div>
                    <p class="addresssub"><span>      Address</span></p>
                </div>
                <div class="addresstext">
                    <p> Cyber City, Gachibowli Hyderabad, TelenganaIndia 540032 </p>
                </div>
            </div>

        </div>

        <div class="rightdiv">
            <table class="table table-hover">
                <thead class="reach">
                    <tr>
                        <th>
                            <mark>Reach us by selecting the issue below</mark>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Order Delivery</td>
                    </tr>
                    <tr>
                        <td>Return/Exchange</td>
                    </tr>
                    <tr>
                        <td>Change/Cancel Order</td>
                    </tr>
                    <tr>
                        <td>Payment/Refund</td>
                    </tr>
                    <tr>
                        <td>Manage Your Account</td>
                    </tr>
                    <tr>
                        <td>Offers/Coupons</td>
                    </tr>
                    <tr>
                        <td>Others</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="gap"></div>

    </section>
</div>