<div class='page'>
    <div class="container">
    <div class="row">
        <section class="bg">
            <div class="discrip">
                <div class="discripimg">
                    <img src="img/services/settings.png" class="webimage">
                </div>
                <div class="servicestext">
                    Services
                </div>
                <div class="servicesdis">
                    e-Buy is a world class online mobile shopping platform
                </div>
            </div>
        </section>
        <section>
            <img src="img/services/background.png" class="mainimage">
        </section>
        <section>
            <div class="box">
                <div>
                    <figure>
                        <img src="img/services/web_design.png" class="webimage">
                    </figure>
                </div>
                <div class="pinkhover">
                    <p class="maintext "> Web Design </p>
                    <p class="description">eBuy's approach to web design is to amplify our clients' voices through a high level of aesthetic execution,usability and value added efficiency.</p>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="box">
                <div>
                    <figure>
                        <img src="img/services/graphicdesign.png" class="webimage">
                    </figure>
                </div>
                <div class="pinkhover">
                    <p class="maintext "> Graphic Design </p>
                    <p class="description">ebuy has a talented team of creative minds that help to deliver your brand through impactful imagery.</p>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="box">
                <div>
                    <figure>
                        <img src="img/services/cart.png" class="webimage">
                    </figure>
                </div>
                <div class="pinkhover">
                    <p class="maintext"> Ecommerce </p>
                    <p class="description">We have developed a revolutionary Search Engine Optmization strategy that gains our clients strong search engine trust while converting visitors to customers.</p>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="box">
                <div>
                    <figure>
                        <img src="img/services/marketing.png" class="webimage">
                    </figure>
                </div>
                <div class="pinkhover">
                    <p class="maintext "> Marketing </p>
                    <p class="description ">We effectively create personas that social media users identify with and trust, ultimately converting a high ratio of social media followers into customers for our clients..</p>
                </div>
                <div class="clear">
                </div>
            </div>
        </section>
    </div>
    </div>
</div>